* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;
    color: white;
}
:root {
    /* Paleta de colores */
    --color-primario: #FBBC04;
    --color-secundario: #F6708E;
    --color-perdido: #F24E3E;
    --color-terciario: #C12842;
    --color-blanco: #F6ECD9;
    --color-extra: #3C2221;
    --color-demas: #00A3E0;
    --color-avanax: #4B0082;
    --color-avanex: #7F5CFB;



    /* Tipografias */
    --Fuente-Titulos: 'Bungee', Sans-Serif;
    --Fuente-Parrafos: 'Monserrat', Sans-Serif;
    --Fuente-Textos: 'Inter', Sans-Serif;

    /*Tamaños de la letra */
    --Texto-Base: 45px;
    --Texto-Nase: 40px;
    --Texto-Case: 35px;

    /* Peso de fuente*/
    --Peso-Regular: 400;
    --Peso-Light: 300;
    --Peso-Suave: 50;

    /* Espaciado de letras */
    --espaciado-normal: 0;
    --espaciado-prueba: 3px;
}

/* Header */
:root {
   
    --color-fondo-header: #F6708E; 
    --color-boton-amarillo: #F4A301 ; 
    --color-texto-enlaces: white;
}

header {
    grid-area: header;
    width: 100%;
    height: 90px;
    background-color: var(--color-fondo-header); 
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 10; 
}

nav {
  
    display: flex;
    width: 100%;
    max-width: 1200px; 
    justify-content: space-between;
    gap: 2rem; 
    align-items: center;
}

nav img {
    margin-right: 20px;
}

ul {

    display: flex;
    gap: 40px;
    list-style: none; 
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

header li a {
    text-decoration: none;
    color: var(--color-texto-enlaces); 
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 1rem;
    transition: color 0.3s; 
}

header li a:hover {
    color: #ffd700; 
}

.botones-container {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.boton-educativo, .boton-descarga {
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 1rem;
    padding: 10px 25px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-educativo, .boton-descarga {
    background-color: var(--color-boton-amarillo); 
    color: white;
}

.boton-educativo:hover , .boton-descarga:hover {
    background-color: #e4ba11; 
}


header li {
    list-style: none;
}

.main {
    grid-area: main;
    background-color: rgb(0, 255, 17);
}

.footer {
    grid-area: footer;
    background-color: rgb(255, 247, 0);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 80px auto 1fr;
    width: 100%;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.seccion1 {
    grid-area: main;
    background-color: var(--color-avanex);
    background-image: url(IMG/Novedades/Fondo\ Novedades.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    display: flex;
    flex-direction: column;
}

.content h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 30px;
    color: aliceblue;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.imagenes2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagenes2 .saco {
    top: 100px;
}
.gorra{
    position: relative;
    top: 20px;
}

.seccion2 {
    background-color: var(--color-perdido);
    background-image: url(IMG/Merch/AGUA\ 2.png);
    grid-area: main;
    background-size: cover;
    background-position-x: -20px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 800px;
    position: relative;
}
.division{
    background-color: white;
    height: 15px;
}
.textito {
    display: flex;
}
.caja-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.texto {
    font-size: 2.5rem;
    font-family: var(--Fuente-Titulos);
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.textita {
    width: 100%;
    display: flex;
    justify-content: center;
}

.texta {
    font-size: 2.5rem;
    font-family: var(--Fuente-Titulos);
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.imageye {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 290px;
}


.box2 h2 {
    text-align: center;
    font-family: var();
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 30px;
    color: aliceblue;
}

.box {
    font-size: 1.2rem;
    font-family: var(--Fuente-Parrafos);
    font-weight: 700;
    width: 215px;
    height: 64px;
    background-color: var(--color-primario);
    border: 3px solid white;
    border-radius: 15px;
    border-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.caja {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}


.seccion3 {
    grid-area: main;
    background-color: var(--color-primario);
    background-image: url(IMG/Merch/AGUA\ 3.png);
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px;
    height: 700px;
}

.texto1 {
    bottom: 20px;
    font-family: var(--Fuente-Parrafos);
    font-size: 2.5rem;
    color: white;
}

.texto2 {
    top: 20px;
    font-family: var(--Fuente-Parrafos);
    font-size: 2.5rem;
    color: white;
}

.CAJITAS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-right: 80px;
    gap: 30px;
}

.boxA {
    font-size: 1.2rem;
    font-family: var(--Fuente-Parrafos);
    font-weight: 700;
    width: 215px;
    height: 64px;
    background-color: var(--color-primario);
    border: 3px solid white;
    border-radius: 15px;
    border-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cajaA {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
footer {
    grid-area: footer;
    background: #F5E8D2;
    padding: 45px 20px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-top {
    text-align: center;
    margin-top: 30px;
}

.footer-logo {
    width: 140px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box4{
    background-color: #000;
    width: 2px;
    height: auto;
}

.footer-links span {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: default;
}

.footer-divider {
    width: 80%;
    height: 1.5px;
    background: #000;
    margin: 5px auto;
    opacity: 0.4;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    font-weight: 600;
}
.footer-social{
    margin: 20px;
}
.footer-social span img {
    width: 22px;
    margin: 0 8px;
}

@media (max-width: 900px) {

    /* --- Estilos Generales para el Cuerpo --- */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 1fr;
        width: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /* --- Encabezado y Navegación --- */
    header {
        grid-area: header;
        width: 100%;
        height: 90px;
        background-color: var(--color-fondo-header);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    nav {

        display: flex;
        width: 100%;
        max-width: 1200px;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
    }

    nav img {
        margin-right: 20px;
    }

    ul {

        display: flex;
        gap: 40px;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
    }

    header li a {
        text-decoration: none;
        color: var(--color-texto-enlaces);
        font-family: 'Inter', sans-serif;
        font-weight: 550;
        font-size: 1rem;
        transition: color 0.3s;
    }

    header li a:hover {
        color: #ffd700;
    }

    .botones-container {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .boton-educativo,
    .boton-descarga {
        font-family: 'Inter', sans-serif;
        font-weight: 550;
        font-size: 1rem;
        padding: 10px 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .boton-educativo,
    .boton-descarga {
        background-color: var(--color-boton-amarillo);
        color: white;
    }

    .boton-educativo:hover,
    .boton-descarga:hover {
        background-color: #e4ba11;
    }


    header li {
        list-style: none;
    }

    .seccion1 {
        padding: 20px;
    }

    .seccion1 .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion1 h1 {
        font-size: 2em;
        /* Reduce el tamaño del título */
        text-align: center;
        margin-bottom: 20px;
    }

    .imagenes img {
        /* La imagen principal ocupa un buen tamaño pero no se desborda */
        width: 80%;
        height: auto;
    }

    .imagenes2 {
        /* Las imágenes de productos de la fila inferior se apilan */
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }
    /* --- Sección 2: Hoodie Destacado --- */
.seccion2 {
    background-color: var(--color-perdido);
    background-image: url(IMG/Merch/AGUA\ 2.png);
    grid-area: main;
    background-size: cover;
    background-position-x: -20px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: auto;
    position: relative;
}

.division {
    background-color: white;
    height: 15px;
}

.textito {
    display: flex;
    flex-direction: column-reverse;
}

.caja-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.texto {
    font-size: 2.5rem;
    font-family: var(--Fuente-Titulos);
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.textita {
    width: 100%;
    display: flex;
    justify-content: center;
}

.texta {
    font-size: 2.5rem;
    font-family: var(--Fuente-Titulos);
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.imageye {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


.box2 h2 {
    text-align: center;
    font-family: var();
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 30px;
    color: aliceblue;
}

.box {
    font-size: 1.2rem;
    font-family: var(--Fuente-Parrafos);
    font-weight: 700;
    width: 215px;
    height: 64px;
    background-color: var(--color-primario);
    border: 3px solid white;
    border-radius: 15px;
    border-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.caja {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}

    /* --- Sección 3: Productos en Fila (Gorra y Maleta) --- */
    .seccion3 {
        background-color: var(--color-primario);
        background-image: url(IMG/Merch/AGUA\ 3.png);
        background-repeat: no-repeat;
        background-position-x: 80px;
        background-position-y: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .texto1 {
        bottom: 20px;
        font-family: var(--Fuente-Parrafos);
        font-size: 2.5rem;
        color: white;
    }

    .texto2 {
        top: 20px;
        font-family: var(--Fuente-Parrafos);
        font-size: 2.5rem;
        color: white;
    }

    .CAJITAS {
        width: 100%;
        margin-left: 80px;
    }

    .boxA {
        font-size: 1.2rem;
        font-family: var(--Fuente-Parrafos);
        font-weight: 700;
        width: 215px;
        height: 64px;
        background-color: var(--color-primario);
        border: 3px solid white;
        border-radius: 15px;
        border-color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .cajaA {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }


    footer {
    grid-area: footer;
    background: #F5E8D2;
    padding: 45px 20px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-top {
    text-align: center;
    margin-top: 30px;
}

.footer-logo {
    width: 140px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.box4 {
    background-color: #000;
    width: 2px;
    height: auto;
}

.footer-links span {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: default;
}

.footer-divider {
    width: 80%;
    height: 1.5px;
    background: #000;
    margin: 5px auto;
    opacity: 0.4;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    font-weight: 600;
}

.footer-social {
    margin: 20px;
}

.footer-social span img {
    width: 22px;
    margin: 0 8px;
}


}